<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
	displayWidth: the maximum width of the image
-->
<figure class="imgfig
	{{- with .Get "class" }} {{.}}{{ end -}}
	">
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}"
		alt="{{ .Get "alt" | default (.Get "src") }}"
		{{- with .Get "width"}}width="{{.}}"{{ end -}}
		{{- with .Get "height"}}height="{{.}}"{{ end -}}
		{{- with .Get "mouse" }} title="{{.}}"{{ end -}}
		{{- with .Get "displayWidth" }} style="height: auto; width: {{.}};"{{ end -}}
	     	loading="lazy"
	>
	{{- if .Get "link"}}</a>{{ end -}}
	{{- with .Get "caption" -}}
	<figcaption>
	{{- . -}}
	</figcaption>
	{{- end -}}
</figure>
